<header>
	<nav>
		<div class="logo">
			<a href="{{ path('app_main_')}}"><img src="{{ asset('assets/img/logo.svg') }}" alt="logo"/></a>
		</div>
		<ul class="nav-links">
			<li>
				<a href="{{ path('marque')}}">Marque</a>
			</li>
			<li>
				<a href="{{ path('collections')}}">Collections
				</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>


		<div class="nav-compte">
			{% if app.user %}

				<li>
					<a href="#">Mon compte</a>
				</li>
				<li>
					<a href="{{ path('app_logout')}}">Déconnexion</a>
				</li>

			{% else %}

				<li>
					<a href="{{ path('app_register')}}">Inscription</a>
				</li>
				<li>
					<a href="{{ path('app_login')}}">Connexion</a>
				</li>

			{% endif %}

		</div>


		<div class="cart">
			<a href=""><img src="{{ asset('assets/img/icon-cart.svg') }}" alt="Cart"/></a>
		</div>
		<div class="profil">
			<a href=""><img src="{{ asset('assets/img/image-avatar.png') }}" alt="Avatar"/></a>
		</div>

	</nav>
</header>
